button {
    margin-left: 1%;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 38px;

    border: 1px solid cornflowerblue;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10%;
    background: white;
}

.pos-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.active {
    background: mediumvioletred;
}

.finished {
    background: lightseagreen;
}

#myInput {
    width: 250px;
    height: 30px;
}

#leftOut, #orderButton {
    margin-left: 5%;
}

#number-list {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 2%;
}

li {
    display: inline-block;
    margin: 5px;
    width: 50px;
    background: cornflowerblue;
}